.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.control-btn .next,
.control-btn .prev {
  position: absolute;
  background-color: transparent;
  border: none;
  
  top: 45%;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 60px;
  z-index: 1;
}
.control-btn .prev {
  left: -20px;
}
.control-btn .next {
  right: -30px;
}

.project-main-container {
  width: 80%;
}

.project-container {
  padding-top: 20;
  display: flex;
  justify-content: space-between;
}

.slider-main-container {
  width: 100%;
  background: #ddf0e7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

.slider-container {
  max-width: 1000px;
  width: 100%;
  height: 25em;
  margin-top: 50px;
}



@media screen and (max-width: 768px) {
  .project-main-container {
    width: 100%;
  }
  .project-container {
    flex-direction: column;
  }
}
