@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@600;700;800&display=swap');
@font-face {
  font-family: Avenir;
  src: url("../public/fonts/Avenir.ttc");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
  font-family: sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));

}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

.buttonStyle{
  font-size: 20px;
  font-weight: bold;
  padding: 0.5em 1.8em;
  background: #005652;
  color:#fff;
  border:none;
  border-radius: 10px;
}

.linear-background {
  background-image: linear-gradient(to right, #040404, #004d4a);
}

input,textarea{
  border: none;
  outline: none;
  border-radius: 5px;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}

.control-btn .next,
.control-btn .prev {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 40%;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 60px;
  z-index: 1000;
}
.control-btn .prev {
  left: -0px;
  color: #fff;
}
.control-btn .next {
  right: -30px;
}

.project-main-container {
  width: 80%;
}

.project-container {
  padding-top: 20;
  display: flex;
  justify-content: space-between;
}

.slider-main-container {
  width: 100%;
  background: #ddf0e7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

.slider-container {
  max-width: 1000px;
  width: 100%;
  height: 25em;
  margin-top: 50px;
}

.checkOut-button{
  background-color: #005652;
  color: #fff;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

input[type="range"] {
  accent-color: #005652;
}

@media screen and (max-width: 768px) {
  .project-main-container {
    width: 100%;
  }
  .project-container {
    flex-direction: column;
  }
}
